# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset / data files
*.csv
*.tsv
*.xls
*.xlsx

# Models / serialized files
*.pkl
*.joblib

# Logs and temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Streamlit / ngrok
/.streamlit/
ngrok-stable-linux-amd64
